*
{
	padding: 0;
 	margin: 0; 	
}

body
{
	overflow-x: hidden; 
}

.fa 
{
	color: white;
}


.menu_nav
{
	background-color: #0082e6;
}

/*-----------------------------------------------*/

.bars
{
	grid-area: bars;
}

.bars ul a 
{
	display: inline; 
 	line-height: 50px;
 	margin-left: 30px;
 	margin-right: 30px;
 	list-style: none;
}

/*-----------------------------------------------*/

#menu_choix
{
	display: block;
	grid-area: menu_choix;
}


#menu_choix ul li 
{
	display: inline; 
 	line-height: 50px;
 	margin-left: 30px;
 	margin-right: 30px;
 	list-style: none;
}

#menu_choix ul li a
{
	font-size: 15px;
	font-style: inherit;
	text-decoration: none;
	color: white;
}
/*-----------------------------------------------*/

.menu_nav
{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows: auto;
	grid-template-areas:
	'bars menu_choix menu_choix menu_choix menu_choix menu_choix';
}

/*----------------------Mobile-------------------------------*/


@media screen and (max-width: 1000px)
{
	#menu_choix
	{ 
		display: none;
		position:relative;
		animation:glissement 0.4s
	}

	#menu_choix ul li
	{
		display: list-item;	
	 	margin-left: 20px;
	 	margin-right: 20px;
	 	list-style: none;
	}

/*--------------------------*/
	
	.bars
	{ 
		display: block;
		padding-top: 5px;
		/*padding-bottom: 5px;*/
		position:relative;
	}

	.bars ul a
	{
		display: list-item;	
	 	margin-left: 20px;
	 	margin-right: 20px;
	 	list-style: none;
	}

/*--------------------------*/

	.menu_nav ul li a
	{ 
		font-size: 40px;
	}

	.menu_nav
	{
		display: grid;
		grid-template-columns: auto auto auto auto auto auto;
		grid-template-rows: auto auto;
		grid-template-areas:
		'bars bars bars bars bars bars'
		'menu_choix menu_choix menu_choix menu_choix menu_choix menu_choix';
	}
}

@keyframes glissement
{
	from
	{
		left:-100px;
	} 
	to
	{
		left:0;
	}
}

@media screen and (min-width: 1000px)
{
	#menu_choix ul li.btn_compte
	{
		display: none;
	}

	#menu_choix ul li.logout_btn
	{
		display: none;
	}
}

@media screen and (max-width: 1000px)
{
	.bars ul li a
	{
		font-size: 15px;
	}
}
